@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";

:root {
  --color-primary: #F84565;
  --color-primary-dull: #D63854;
}

*{
  font-family: "Outfit", sans-serif;
  scrollbar-width: thin;
  scrollbar-color: #787777 #1e1e1e;
}

body {
  background-color: #09090B;
  color: white;
}

.player-wrapper {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  background: black;
  border-radius: 12px;
  overflow: hidden;

  /* 16:9 Aspect */
  padding-top: 56.25%;
}

.player-wrapper > div {
  position: absolute !important;
  top: 0;
  left: 0;
  width: 100% !important;
  height: 100% !important;
}

.no-scrollbar{
  scrollbar-width: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

::-webkit-calendar-picker-indicator {
  filter: invert();
}
